

.minHeader{
    position: relative;
    background-color: lightblue;
    
}
.minHeader img{
    max-width: 100%;
    height: auto;
}
.minTopright{
    position: absolute;
    top: 20%;
    right: 20%;
    font-size: 40px;
}